@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
}

/* ====== GENERAL TAGS ====== */
body{
    padding: 80px 7%;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}
img{
    width: 100%;
    height: auto;
    margin: 0 auto;
}
p{
    margin-top: 30px;
    font-size: 18px;
    text-align: justify;
}

/* ====== BUTTON STYLING ====== */
#color-picker{
    text-align: center;
    margin: 25px auto 60px;
}
.btn{
    width: 50px;
    height: 40px;
    display: inline-block;
    border: 2px solid #120101ad;
    cursor: pointer;
    margin: 0.3rem;
    border-radius: 45%;
}

/* ====== PARTICULAR COLOR STYLING ====== */
#color1{
    background-color: #f5deb3;
}
#color2{
    background-color: #7fffd4;
}
#color3{
    background-color: #dda0dd;
}
#color4{
    background-color: #cd5c5c;
}